.flex-Container{
    font-size: 13.3px;
    opacity: 0.7;
}
.flex-Container2{
    font-size: 13.3px;
    opacity: 0.7;
}
.dataFlex{
    font-size: 13.3px;
    font-weight: 500;
}
.leftPencil{
    margin-left: 908px;
}