.shadowBgWhite{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.03);
    border: 5px;
    position: absolute;
    top: 107px;
    left: 195px;
    width: 83%;
    height: auto;
}
.absolutes{
    position: absolute;
    top: 74px;
    left: 195px;
    font-weight: 500;
}